<div class="px-4 mt-4 md:px-16">
  <h2 class="mb-4 text-xl font-semibold text-white md:text-2xl">{{ title() }}</h2>

  <div class="grid grid-cols-2 gap-4 md:grid-cols-4">
    @for(movie of movies().slice(0, 4); track movie.id){
      <div class="relative transition duration-200 ease-in transform cursor-pointer group sm:hover:scale-105">
          <img [src]="getImageUrl(movie.poster_path)" [alt]="movie.title" class="object-cover w-full rounded-md">
        <div class="absolute inset-0 rounded-md flex items-center justify-center transition-all duration-200 bg-black bg-opacity-0 group-hover:bg-opacity-60">
            <div class="p-4 text-center text-white opacity-0 group-hover:opacity-100">
              <h3 class="font-semibold">{{ movie.title }}</h3>

                    <div class="flex space-x-2 justify-center mt-2">
                      <button class="p-2 rounded-md bg-white/20 hover:bg-white/40">
                        ▶ Reproducir
                      </button>

                      <button class="p-2 rounded-md bg-white/20 hover:bg-white/40">
                        ℹ Más información
                      </button>
                    </div>
         </div>
        </div>
      </div>
    }
  </div>
</div>
